@*Shared Editable PO Order Details view*@
@using System.Collections
@using Kendo.Mvc.UI

@model eInvoiceAutomationWeb.ViewModels.CATTFindingsViewModel


@(Html.Kendo().Grid<eInvoiceApplication.DomainModel.InvoiceCAFindingsEmp>()
                        .Name("CATTCAFindingsEmpGridReadOnly")
                        .Columns(columns =>
                         {
                             columns.Bound(p => p.InvoiceCAFindingsEmpID).Visible(false);
                             columns.Bound(p => p.InvoiceCATTFindingsID).Visible(false);
                             columns.Bound(p => p.EmployeeName).Title("Description").Width("12%")
                                  .ClientFooterTemplate("<div>Total:</div>");
                             columns.Bound(p => p.Classification).Title("Item Type").Width("10%");
                             columns.Bound(p => p.InvoiceRate).Title("Inv Rates/Amt").Width("5%").HtmlAttributes(new { style = "text-align:right" }).FooterHtmlAttributes(new { style = "text-align:right" })
                                  .ClientTemplate("#= kendo.format('{0:c}',InvoiceRate) #");
                             columns.Bound(p => p.ApprovedRate).Title("Approved Rate/Amt").Width("5%").HtmlAttributes(new { style = "text-align:right" })
                                 .ClientTemplate("#= kendo.format('{0:c}',ApprovedRate) #");
                             columns.Bound(p => p.RateVariance).Title("Rate Variance").Width("5%").HtmlAttributes(new { style = "text-align:right" }).FooterHtmlAttributes(new { style = "text-align:right" })
                             .ClientTemplate("#= kendo.format('{0:c}',RateVariance) #")
                             .ClientFooterTemplate("<div>#= kendo.format('{0:c}',sum) #</div>");
                             columns.Bound(p => p.InvoiceHours).Title("Invoice Hrs").Width("5%").HtmlAttributes(new { style = "text-align:right" });
                             columns.Bound(p => p.ApprovedHours).Title("Approved Hrs").Width("5%").HtmlAttributes(new { style = "text-align:right" });
                             columns.Bound(p => p.Total).Title("Total Deduction").Width("7%").HtmlAttributes(new { style = "text-align:right" }).FooterHtmlAttributes(new { style = "text-align:right" })
                                   .ClientTemplate("#= kendo.format('{0:c}',Total) #")
                                   .ClientFooterTemplate("<div>#= kendo.format('{0:c}',sum) #</div>");
                             columns.Bound(p => p.Notes).Width("24%");
                         })
                            .Sortable()
                            .Pageable()
                            .Navigatable()
                            .AutoBind(true)
                            .DataSource(dataSource =>
                                         dataSource.Ajax()
                                        .Aggregates(aggregates =>
                                            {
                                                aggregates.Add(p => p.RateVariance).Sum();
                                                aggregates.Add(p => p.Total).Sum();
                                            })
                                        .PageSize(10)
                                        .Model(model =>
                                            {
                                                model.Id(p => p.InvoiceCAFindingsEmpID);
                                            })
                                .Read(read => read.Action("CAFindingsEmp_Read", "CATTFindings"))
                                )
)
