
@{
    ViewBag.Title = "ConfigEscalation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p><h4>Config Miscellaneous Data</h4></p>

@(Html.Kendo().Grid<eInvoiceApplication.DomainModel.ConfigMiscData>()
    .Name("ConfigMiscDataGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ConfigID).Visible(false);
        columns.Bound(p => p.ConfiguredCol).Width(70).Title("Configuration Name");
        columns.Bound(p => p.ConfiguredColText).Width(190).Title("Configuration Value").EditorTemplateName("_ConfigText").Encoded(true);
       // columns.Command(command => { command.Destroy(); }).Width(172);
    })
    .ToolBar(toolbar => toolbar.Create())
    .ToolBar(toolbar => toolbar.Save())
    .AutoBind(true)
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Pageable()
    .Navigatable()
    .Scrollable(s => s.Height("auto"))
    .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Batch(true)
            .ServerOperation(false)
               .Events(events => events.Sync("onSyncEnd"))
                .Model(model =>
                            {
                                model.Id(p => p.ConfigID);
                                model.Field(p => p.ConfiguredCol).Editable(false);
                            })
            .Create(update => update.Action("ConfigMiscData_Create", "AdminTools"))
            .Read(read => read.Action("ConfigMiscData_Read", "AdminTools"))
            .Update(update => update.Action("ConfigMiscData_Update", "AdminTools"))
            .Destroy(update => update.Action("ConfigMiscData_Destroy", "AdminTools"))
    )
)


<script type="text/javascript">

    //function onChange(e) {
    //    var selectedValue = $(e.sender.text());
    //    var grid = $("#ConfigMiscDataGrid").data("kendoGrid");
    //    var editRow = grid.tbody.find("tr:has(.k-edit-cell)");
    //    var currentDataItem = grid.dataItem(editRow);
    //    currentDataItem.set("ActivityName", selectedValue.selector.toString());
    //}

    function onSyncEnd(e) {
        //  alert(e.type);
        // if ((e.type == "create" || e.type == "update") && !e.response.Errors) {
        alert("Record(s) saved successfully");
        $("#ConfigAdmin").data("kendoGrid").dataSource.read();
        // }
        //if (e.type == "destroy" && !e.response.Errors) {
        //    alert("Record(s) saved successfully");
        //    $("#ConfigAdmin").data("kendoGrid").dataSource.read();
        //}

    }


</script>

