

@{
    ViewBag.Title = "Report - eInvoice Automation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-sm-3">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

    </div>
</div>


