@{
    ViewBag.Title = "Home Page - eInvoice Automation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
p, h4
{
    margin-left: 20px;
}
    </style>

<h4>Welcome to eInvoice Automation Portal</h4><br />
<p style="width:95%">
    The automated eInvoice Approval process integrates the invoice submission and approval with SAP to give Accounts Payable, Contract Attest, Contract Administrators & others better information during invoice approval.  Users and organizations may still submit invoices as they currently do either in a paper form or via email. The AP team will code the invoice using online forms and link amounts to appropriate project/WBS elements.  The electronic form is then routed to various stakeholders including Project Managers and others for approval. As all the data is captured in the electronic forms, the data can be submitted for approvals.
    <br />
    The SAP process of “parked” invoice for encumbrance purposes and later “post” invoice converted to a fully approved invoice once the approvals are secured will continue to be done via the SAP interface.
</p>